<!-- <div class="sidebar" [class.collapsed]="isCollapsed"> -->
  <!-- En-tête de la sidebar -->
  <!-- <div class="sidebar-header">
    <h3 *ngIf="!isCollapsed">Mou9f</h3>
    <button class="toggle-btn" (click)="toggleSidebar()">
      <span class="hamburger-icon">☰</span>
    </button>
  </div> -->

  <!-- Menu de navigation -->
  <!-- <nav class="sidebar-nav">
    <ul>
      <li>
         <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span class="icon">📊</span>
          <span class="label" *ngIf="!isCollapsed">Tableau de bord</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <span class="icon">👤</span>
          <span class="label" *ngIf="!isCollapsed">Profil</span>
        </a>
      </li>
      <li>
        <a routerLink="/settings" routerLinkActive="active">
          <span class="icon">⚙️</span>
          <span class="label" *ngIf="!isCollapsed">Paramètres</span>
        </a>
      </li>
      <li>
        <a routerLink="/help" routerLinkActive="active">
          <span class="icon">❓</span>
          <span class="label" *ngIf="!isCollapsed">Aide</span>
        </a>

      </li>
      <li>
         <a routerLink="/logout" routerLinkActive="active">
          <span class="icon">❓</span>
          <span class="label" *ngIf="!isCollapsed">Deconecté</span>
        </a>
      </li>
    </ul>
  </nav> -->

  <!-- Pied de page de la sidebar -->
  <!-- <div class="sidebar-footer" *ngIf="!isCollapsed">
    <p>Version 1.0.0</p>
  </div>
</div> -->

<app-sidebar 
   (showPageVideo)="show($event)"
    [menu]="showPage"
></app-sidebar>
<div *ngIf="showPage.pageVideo">
 <app-upload-video ></app-upload-video>
</div> 
<div *ngIf="showPage.pageImage">
  <app-upload-image ></app-upload-image>
</div>

